body {
    background: red;
    color: yellow;
}
body {
	text-align: center;
}
body {
    font-family: 'Aldrich';
	}
	   a {
      text-decoration:none;
       @font-face {
  font-family: myFirstFont;
  src: url(https://fonts.googleapis.com/css?family=Aldrich);
}

body {
  font-family: myFirstFont;
}
